<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoApp: Detail view</title>
</head>
<body>
    <h1>Task item</h1>
    <div>
        <p>Title: {{ task.title }}</p>
        <p>Description: {{ task.description }}</p>
        <p>Due: {{ task.due_date }}</p>
        <p>Completed: {{ task.status }}</p>
    </div>

    <p>
        <a href="{% url 'update' task.id %}">update Task</a>
    </p>
    
    <p>
         <a href="{% url 'delete' task.id %}">delete Task</a>
    </p>
   
    <p>
        <a href="{% url 'list' %}">Back to task list</a>
    </p>
    
</body>
</html>
